# Ignore node_modules directory and its contents
node_modules/

# Ignore .env files containing sensitive information
.env

# Ignore log files
*.log

# Ignore temporary files created by text editors
*~

# Ignore compiled object files
*.o
*.obj

# Ignore executable files
*.exe

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore OS-specific files
.DS_Store
Thumbs.db